html{
    box-sizing: border-box; /*no tener comportamientos extraños al momento de hacer un width debido a los paddings*/
    font-size: 62.5%; /*reset para rems -62.5% =10px*/
}
*,*:before, *after{
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/*Globales*/
img{
    max-width: 100%;
}

.contenedor{
    margin-left: auto; /*toma la distancia de izquierda y derecha de manera automática*/
    margin-right: auto; /*otro atajo es "margin: 0 auto 0 auto;" o ""margin: 0 auto;"" primera propiedad arriba, derecha, abajo, izquierda*/
     
    max-width: 120rem;/*1200px*/ /*toma todo el espacio que quieras siempre y cuando no te pases de tantos pixeles*/

}
/*definir los encabezados y párrafos con fuentes que vayan acorde con los h y la importancia de ellos*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 2.4rem;
}
h4{
    font-size: 2.6rem;
}
/** utilidades **/
.contenido-centrado{
    max-width: 800px;
}
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300{
    font-weight: 300;
    text-align: center;
}
.centrar-texto{
    text-align: center;
}
.d-block{
    display: block!important; /*!important es para evitar la ley de cascada*/
} /*display block es para que tome todo el tamaño del bloque contenido*/
/**Botones**/
.boton{
    color: #ffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    text-align: center;

    padding: 1rem 3rem; 
    margin-top: 3rem;
    display: inline-block; /*cuando es un enlace, margin no funciona debido a que tiene un display block, sino un display inline, lo que quiere decir que no se puede aplicar un ancho*/
}
.boton-amarillo{
    background-color: #e08709;

}
.boton-verde{
    background-color: #71b100;
}
/** header**/
/* de esta forma se aplica estilos a una etiqueta con dos clases*/
/* los dos puntos .. en el url significan salir de ese directorio*/
.site-header{
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio {

    background: url(/img/header.jpg);
    background-position: center;/* ver en el centro de la imagen y que se expanda a los lados*/
    background-size: cover;/* hacer que la imagen se ajuste al tamaño de la ventana hasta cada límite*/
    height: 100vh; /* vh significa que va a medir la pantalla de visualización y de ese tamaño va a quedar la imagen o el header*/
    min-height: 60rem; /* le dice al viewport height (vh) que mínimo debe tener tantos píxeles por si la pantalla es muy chica y corte la imagen de background*/

}
.contenido-header{
    height: 100%;/*el hijo toma la altura del padre*/
    display: flex; /*afecta horizontalmente por defecto*/
    flex-direction: column ;/*row es defecto y es horizontal, row-reverse lo invierte, column es de arriba hacia abajo*/
    justify-content: space-between;
}
.contenido-header h1{
    color:white;
    padding-bottom: 2rem;/*espacio hacia adentro del elemento*/
    max-width: 60rem;/*tamaño del bloque donde está el contenido*/
    line-height: 2;/*interlineado*/
}
.barra {
    display: flex; /*afecta el primer nivel en este caso nav y a*/
    justify-content: space-between; /*flex-start es el default de display flex, display around deja espacio a los lados de la misma distancia de los elementos, evenly similar a around, space between los lleva izquierda y derecha*/
    padding-top: 3rem; /*agrega separación entre el top hacia adentro, mientras que margin es entre dos elementos hacia afuera*/
    align-items: center; /*alinear el logo con los enlaces central(center), con el fondo flex-end, y arriba con flex-start*/
}

/** navegación**/
.navegacion a{ /*inmediatamente escoge los "hijos" de la etiqueta que engloba las otras etiquetas*/
    color: rgba(255,255,255,1); /* los 3 primeros son el color y el 1 es la transparencia que va entre 0 y 1 (con decimales incluidos)*/
    text-decoration: none; /*elimina la línea de los enlaces*/
    font-size: 1.8rem;/*=18px*/
    margin-right: 2rem;/*darle espaciado a los elementos*/

}
.navegacion a:hover{ /*cambia de color el elemento si le pasas el mouse*/
    color: cyan;
}
.navegacion a:last-of-type{ /*pseudoselector que significa el último elemento*/
    margin:0;

}

/** iconos nosotros**/

.icono-nosotros{
    display: flex;
    justify-content: space-between;

}
.icono{
    flex-basis: calc(33.3%-1em); /*web responsive: toma todo el elemeto (100%) y lo divide entre 3, calc es para hacer opecaciones*/
    text-align: center;
}
.icono h3{
    text-transform: uppercase; /*capitalize primera letra en mayúscula*/
}

/**anuncios**/

.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.anuncio {
    /*flex:0 0 cal(33.3% -1rem);*/
    flex-grow: 0;
    flex-shrink: 0 ;
    flex-basis: calc(33.3% - 1rem);
    border-style: solid;
    border-color: #b5b5b5;
    border-width: 1px;
    /*border: 1px solid #b5b5b5; condensa los 3 atributos de arriba en 1 solo*/
    background: #f5f5f5; 
    margin-bottom: 2rem; 
}
.contenido-anuncio{
    padding: 2rem 4rem; /* aplica padding en todas las direcciones(top,right,bottom,left; en ese orden)*/
}
.contenido-anuncio h3, 
.contenido-anuncio p{
    margin: 0; /*remueve el margin normal de los h3*/
}
.precio{
    color: #71B100;
    font-weight: 700; /*p (párrafos) el font-weight es de 400 y el de los h1 es de 700*/
}
.ver-todas{
    display: flex;
    justify-content: flex-end;
}

.iconos-caracteristicas{
    list-style: none;
    padding:0;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    flex:1;


}
.iconos-caracteristicas li{
    flex: 1;
    display: flex;
}
.iconos-caracteristicas img{
    margin-right: 1rem;
}
/**contacto home**/
.imagen-contacto{
    background-image: url(/img/encuentra.jpg);
    height: 40rem;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;/*centra verticalmente*/
}
.contenido-contacto{
    flex: 1; /*detecta el tamaño disponible y los elementos y divide los píxeles entre el número de elementos*/
    color: white;
    
}
.contenido-contacto .p{
    font-size: 1.2rem;
}
/**Seccion inferior**/
.seccion-inferior{
    display: flex;
    justify-content: space-between;
}
.seccion-inferior .blog{
    flex-basis: 60%;
}
.seccion-inferior .testimoniales{
    flex-basis: calc(40% - 2rem);
}
.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.entrada-blog .imagen{
    flex-basis: 40%;
}
.entrada-blog .texto-entrada{
    flex-basis: calc(60% - 3rem)
}
.entrada-blog:last-of-type{
    margin-bottom: 0;
}
.texto-entrada a{
    color: black;
    text-decoration: none;
}
.texto-entrada h4{
    margin:0;
    line-height: 1.2;
}
.texto-entrada h4::after{ /*pseudo selector: no se puede seleccionar, no existen*/
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100 ;
}
.texto-entrada span{
    color: #e08709;
}

/**testimoniales**/
.testimonial{
    background-color: #71b100;
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffff;
    border-radius: 2rem;
}
.testomonial p{
    text-align: right;
}
.testimonial blockquote::before{
    content:'';
    background-image: url(/img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    top:0px;
    left:-2rem;
}
.testimonial blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}
/**footer**/
.site-footer{
    background-color: #333333;
    margin: 0;
}
.contenedor-footer
{
    padding: 3rem 0;
    display:flex;
    justify-content: space-between;
}
.copyright{
    margin:0;
    color: #ffff;
}
/**INTERNAS**/
/*nosotros*/
.contenido-nosotros{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2rem;
}
.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 0 3rem 0 1rem;
}
/*anuncio*/
.resumen-propiedad{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/** Contacto**/
label{
    display:block;
}
